/* Supprime la marge présente par défault sur les pages HTML */
* { 
    margin: 0;
    padding: 0;
  }
/* Barre de navigation (Toutes les pages)*/
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: white;
}
/* Page accueil */
.presentation {
    display: flex;
    
    background-color: #336699;
  }

  .presentation p {
    color: white;
    font-size: larger;
    text-align: center;
    padding: 15%;
  }
 
  .pres_Block{
    display:flex;
    align-items: stretch;
    flex-direction: row;
    margin:1%;
    padding: 2%;
    justify-content:space-between;
  }
  .pres_Row{
background-color: #FBFBFE;
color:#336699;
padding: 10px 10px;

}
.pres_Row button{
    border-radius: 12px;
    padding: 16px 16px;
    margin: 10px;
    background-color: #FFCA4A;
    color: white
}
#blue{
    color:#336699; 
}
.temoi{
    display:flex;
    align-items: stretch;
    flex-direction: column;
    color:white;
    padding: 4%;
    justify-content:space-between;
    background-color: #FFA000;
}
.temoi_vid{
    flex-direction:column;
}
/* Footer (Toutes les pages)*/
.foot{
    background-color: #313131;
    display:flex;
    align-items: stretch;
    flex-direction: row;
    color:white;
    padding: 4%;
    justify-content:space-between;  
}
.foot_column{
    flex-direction: column;
}
.foot_column ul{
    list-style-type: none;
}

.AWS_block1{
    display:flex;
    align-items: stretch;
    flex-direction: row;
    justify-content:space-between;
    background-color: black;
    color: white;
  }
  .AWS_block1 h1, .AWS_block1 p{
    padding: 5%;
  }
  .AWS_block1 button{
    padding: 0.5%;
    margin-left: 5%;
    background-color: #E17B32;
    color: white;
  }

  .AWS_block2{
    display:flex;
    align-items: stretch;
    flex-direction: row;
    justify-content:space-between;
  }
  .AWS_block2  h1, .AWS_block2  p {
    padding: 2%;

  }
  .AWS_block2 ul{
    padding:0% 6% 0%;
  }
  .AWS_block3{
    display:flex;
    align-items: stretch;
    flex-direction: row;
    justify-content:space-between;
    background-color: #F2F2F2;
    padding: 1% 10% 1% 10%;
  }
  .AWS_block3  h2, .AWS_block3  p {
    padding: 1% 10%;


  }
  #cloud > div{
    background-color: #E17B32;
    padding: 3% 20%;
  }
  .AWS_block4{
    display:flex;
    flex-direction: row;
    gap: 10%;
    background-color: white;
    padding: 1% 1%;
  }

  #white{
    background-image: white;
  }
.AWS_block5{
padding: 5%
}
.AWS_block5 button{
  color: white;
  background-color: #E17B32;
  padding: 1% 2%;

}